.resume-icon {
    margin-right: 6px;
}

.resume-name {
    color: #F93B1D;
    font-size: 34px;
}

.resume {
    overflow-y: scroll;
}

.resume-contanct {
    font-size: 18px;
}

#resumeAboutMeTitle {
    display: none;
    color: #F93B1D;
    font-size: 18px;
}

#resumeAboutMe {
    font-size: 16px;
}

.go-back-vector {
    position: absolute;
}

#resumeImage {
    margin-left: 20px;
}