.resume-icon {
    margin-right: 6px;
}

.resume-name {
    color: #F93B1D;
    font-size: 34px;
}

.resume {
    overflow-y: scroll;
    height: 75vh;
}

.resume-contanct {
    font-size: 18px;
}

#resumeAboutMeTitle {
    display: none;
    color: #F93B1D;
    font-size: 18px;
}

#resumeAboutMe {
    font-size: 16px;
}

.go-back-vector {
    position: absolute;
}

#resumeImage {
    margin-left: 20px;
}

#popup {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 100px;
    background-color: white;
    display: none;
    z-index: 1;
    font-weight: 500;
    font-size: 28px;
}

#popup-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#popup-text {
    font-size: 18px;
    margin-bottom: 10px;
}

#popup-close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 36px;
    cursor: pointer;
}

.redberryLogo {
    position: fixed;
    bottom: 63px;
    width: 100%;
    opacity: 1;
}
